{% extends "master.html" %}

{% block CSS %}
    <link href="../static/css/cover.css" rel="stylesheet">
{% endblock %}

{% block title %}
<title>Sparta Global | Home</title>
{% endblock %}

{% block content %}

<body class="text-center" data-gr-c-s-loaded="True">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="masthead mb-auto">
    <div class="inner">
        <img class="masthead-brand" src="../static/images/Sparta-global-logo-white.svg" alt="" width="200" height="200">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link text-info disabled" href="#">Quiz</a>
        <a class="nav-link text-danger" href="/logout">Log Out</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
      <h1 class="cover-heading font-weight-bold"><span style="color: #417fb1">Python </span> <span style="color: #ffde56"> Quiz</span> </h1>
      <p class="lead font-weight-normal" > <span class="font-weight-bold" style="color: #417fb1"> Welcome {{username}}, </span> this is a multiple choice quiz based on the Programming language Python! <br>
        When you are ready, start the test by pressing the button below. <br>
        <span class="font-weight-bold" style="color: #ffde56">Good Luck!!</span></p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary" style="background-color: #e33661">Start Quiz</a>
    </p>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p> Template by <a href="https://twitter.com/mdo">@mdo</a></p>
    </div>
  </footer>
</div>

{% endblock %}